html body {
	background-color: #688dc9
}
body{
	/*padding: 50px;*/
	margin-left: 190px;
	margin-right: 190px; 
	
	
}
@font-face { 
	font-family: "norwester";
	src: url('norwester.ttf'); 
}

h1 {
	font-size: 66px;
	font-family: "norwester";
	color: white;
	-ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);
	
}
h2 {
	font-family: 'Oswald', sans-serif;
	-ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);
    color: white;
}
.formbox {
	/*background-color: #a8abaf;*/
	z-index: 9;
	width: 350px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 60px;
	display: inline-block;
	float: left;
	background-color: white
}
.formbox:hover {
	-moz-transform: scale(1.01);
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
}
.formbox input {
	font-family: 'Inconsolata', monospace;
	font-size: 15px;
	color: #688dc9;


} 
p.formsause{
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	margin: 0 auto;
	color: #688dc9;


}
p.formsause_1{
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	color: #688dc9;
}
.discription{
    text-align: center;
    width: 350px;
    float: right;
   color: white;
}
.discription p{
	font-family: 'Oswald', sans-serif;
	font-size: 15px;
}
.navbar {
    overflow: hidden;
    background-color: #688dc9;
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 10;
    left: 0;
}
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    bottom: 0%;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "norwester";
    font-size: 15px;
}
.bottomtext {
	/*float: bottom;*/
}


.floating{
	position: absolute;
	opacity: .5;
	size: 100px;
    float: left;
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;

}

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);    }    
}
    
@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}    
}


.scaling{
    
    -webkit-animation-name: scalex;
    -webkit-animation-duration:3s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -moz-animation-name: scale;
    -moz-animation-duration:3s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:ease-in-out;
}
    
    @-webkit-keyframes scalex{
        from {-webkit-transform: scale(0.9);}
        65% {-webkit-transform: scale(1.0);}
        to {-webkit-transform: scale(0.9);}    
    }
        
    @-moz-keyframes scale{
        from {-moz-transform: scale(0.9);}
        65% {-moz-transform: scale(1.0);}
        to {-moz-transform: scale(0.9);}    
    }
