<h1>Post Your Life Story Here</h1>
<div class="form">
<form method="post">
	<p class="formsause">Make a Subject For your Post!:</p><br>
	<input name="title">	
	<p class="formsause">Create your Lore!:</p><br>
	<textarea class="textbox" name="body" maxlength="150"></textarea>
	<br><br>
	<input type="submit" name="Submit">
</form>
</div>