<h1>Your Account info</h1>
<div class="form">
<form method="post">
<table>
	<tr>
		<td class="text3">Email</td>
		<td><input name="email" disabled="true" value="<%= @current_user.email %>"></td>
	</tr>
	<tr>
		<td class="text3">Username</td>
		<td><input name="uname" value="<%= @current_user.uname %>"></td>
	</tr>
	<tr>
		<td class="text3">Current Password</td>
		<td><input type="password" name="password"> </td>
	</tr>
	<tr>
		<td colspan="2"><input type="submit" value="Update Profile"></td>
	</tr>
	<tr>
		<td><div></div></td>
	</tr>
</table>
<div>
	<a href="/deleteAccount">
	Delete System 32
	<!-- <button>Delete System 32</button> -->
	</a>
</div>

</form>
</div>