<h1>Welcome To <div class="cutbox"><span class="cut">CUTSCENE</span></div></h1>
	<form>
		<p class="formtext">Email or Username:</p><br>
		<input type="text" name="username/email"><br>
		<p class="formtext"> Password:</p><br>
		<input type="text" name="password"><br><br>
		<input type="submit" value="sign in">
	</form>