<h1>Welcome To <div class="cutbox"><span class="cut">CUTSCENE</span></div></h1>
	<form method="post" action="/sign_in">
		<p class="formtext">Email or Username:</p><br>
		<input type="text" name="email" placeholder="email"><br>
		<p class="formtext"> Password:</p><br>
		<input type="password" name="password" placeholder="password"><br><br>
		<input type="submit" value="sign in">
	</form>