<h1>Users</h1><br><br>
<div class="floating" id="five">
<a href="/user/20">4242</a><br>
<p class="tres">4242 is a very bad game developer; I'd rather nobody look at his blog.</p>
<br><br>
<a href="/user/21">Spicygurl18</a><br>
<p class="tres">Girl Gamer and web developer person who likes spice.</p>
<br><br>
<a href="/user/22">RerDev</a><br>
<p class="tres">RerDev is alright I guess.</p>
<br><br>
<a href="/user/5">James</a><br>
<p class="tres">James is a co-creator of cutscene!</p>
<br><br>
<a href="/user/23">Bobabola</a>
<p class="tres">Bobabola mainly markets for Boba-Bola[TM] and trashes Bepis[TM]</p>
</div>

<br><br>

<p class="a_users">All Users</p>
<br><br><br>
	<% @users.each do |user| %>
		<li class="list_users"><a href="/user/<%= user.id %>"><%= user.uname %></a></li>
	<% end %>	