@font-face { 
    font-family: "norwester";
    src: url('norwester.ttf'); 
}
.navbar {
    overflow: hidden;
    background-color: #688dc9;
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 10;
    left: 0;
}
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    bottom: 0%;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "norwester";
    font-size: 15px;
}
body {
	margin-left: 190px;
	margin-right: 190px;
	background-color: #688dc9;
}
h2{
    font-size: 66px;
    font-family: "norwester";
    color: white;
}
h3{
   font-size: 30px;
    font-family: "norwester";
    color: white; 
}
p{
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    color: white;
}
.navlinks:hover {
    color: yellow;
}