html body {
	background-color: #688dc9
}
body{
	/*padding: 50px;*/
	margin-left: 190px;
	margin-right: 190px; 
	
	
}
@font-face { 
	font-family: "norwester";
	src: url('norwester.ttf'); 
}

h1 {
	font-size: 66px;
	font-family: "norwester";
	color: white;
	-ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);
	
}
.a_users {
    font-size: 66px;
    font-family: "norwester";
    color: white;
    -ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);  
}
li.list_users { 
    font-size: 20px;
    font-family: "norwester";
    
 }
#five {
	font-size: 30px;
	font-family: "norwester";
	color: white;
}
.tres {
	font-size: 15px;
	font-family: "norwester";
	color: white;
}
.navbar {
    overflow: hidden;
    background-color: #688dc9;
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 10;
    left: 0;
}
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    bottom: 0%;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "norwester";
    font-size: 15px;
}
@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);    }    
}
    
@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}    
}


.scaling{
    
    -webkit-animation-name: scalex;
    -webkit-animation-duration:3s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -moz-animation-name: scale;
    -moz-animation-duration:3s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:ease-in-out;
}
    
    @-webkit-keyframes scalex{
        from {-webkit-transform: scale(0.9);}
        65% {-webkit-transform: scale(1.0);}
        to {-webkit-transform: scale(0.9);}    
    }
        
    @-moz-keyframes scale{
        from {-moz-transform: scale(0.9);}
        65% {-moz-transform: scale(1.0);}
        to {-moz-transform: scale(0.9);}    
    }
    .navlinks:hover {
    color: yellow;
}